<header>
  <div class="header__main">
    <button class="hamburger">
    <img src="https://desktop-prototype.web.app/img/hamburger.svg">
    </button>
    <div class="logo">
      <a href={{logo-src}}>
      <img src="https://desktop-prototype.web.app/img/logo.svg">
    </a>
    </div>
  </div>
  {{{personal-links}}}
</header>
